html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    margin-right: 1rem;
    margin-left: 0.5rem;
}

hr {
    margin: 2rem;
}

li {
    margin-bottom: 1rem;
}

.activated {
    font-weight: bold;
    color: #61dafb;
}